# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Environment
.env

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Large folders
embeddings/
models/
backups/

# Ignore only the huge dataset
data/candidates.jsonl

.env